/**
 * Global CSS styles applied to the entire app
 */

html,
body,
.container-fluid,
#root {
  height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 100;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Site Colours */
.primary-color {
  color: rgb(255, 69, 0);
}

/* Util */
.width-100 {
  width: 100%;
}

/* Text Elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inria Serif", serif;
}

/* Buttons */
button.full-width {
  width: 100%;
}
button.clear {
  background: none;
  border: none;
}
button[type="button"]:focus {
  outline: none;
}
button[type="button"]:hover {
  cursor: pointer;
}

/* Inputs */
input.form-control[type="checkbox"] {
  height: 15px;
}
input.form-control[type="checkbox"]:focus {
  border: none;
  box-shadow: none;
}

/* Anchors */
a {
  color: rgb(255, 69, 0);
}
a:hover {
  text-decoration: none;
  color: rgb(255, 125, 0);
}

/* hr */
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
